## Exercise

1. Record your name in an object (x = ...) and a description of yourself in another object.

In [1]:
x = "My name is Faria Tabassum"
print(x)

y = "I am a graduate student at NDSU"
print(y)

My name is Faria Tabassum
I am a graduate student at NDSU

2. Raise 2 to the 4th power. Save the value as an object named twoToTheFourth. Then create a new value that sums the value twice. Create another variable that saves the value of twoToTheFourth as a string. Just as with the numeric value, sum the string object twice.

In [2]:
twoToTheFourth = 2.0 ** 4
print(twoToTheFourth)

sums_nums = twoToTheFourth + twoToTheFourth
print (sums_nums)
x = "16"
print(x)

y = x + x
print(y)

16.0
32.0
16
1616

3. Find the list of escape sequences in Section 2.4. create a string that uses at least 4 different escape sequences.

In [8]:
x = "I"
y = "had my"
z = "breakfast"
a = "early"

print(x + "\n" + y + z + a)
print (x + y +z + a, sep = "\n")


b = 'She is called \'the queen\''
print (b)

c = 'Today is \n\tFriday'
print(c)

I
had mybreakfastearly
Ihad mybreakfastearly
She is called 'the queen'
Today is
	Friday

4. Add an integer and a float together. Is the final number an integer or a float?

In [4]:
integer = 4
float = 4.5
final = integer + float
print(final)
type(final)

8.5

float

5. Add 2 ** 1024 + 1.5. What is the outcome? Why? hint: Try adding .5, 1, and 1.1 instead of 1.5.

In [6]:
x = 2 ** 1024 + 1.5 

y = 2 ** 1024 + .5 

z = 2 ** 1024 + 1

a = 2 ** 1024 + 1.1

print(x)
print(y)
print(z)
print(a)

OverflowError: int too large to convert to float

answer: Overflow error as the integer is too large to convert to float.

6. import the string library with the script import string. Print string.__dict__ . What is the output? If you do not understand the meaning, search "python class __dict__" online and find an explanation.

In [22]:
import string

In [21]:
print(string._dict_)

AttributeError: module 'string' has no attribute '_dict_'

7. Call at least 5 of the results from string.__dict__.

8. Concatenate 3 distinct strings

In [16]:
x = "Welcome" 
y = "to"
z = "NDSU"

print(x + " " + y + " " + z)

Welcome to NDSU